BETTER_AUTH_SECRET={better_auth_secret}
BETTER_AUTH_URL={better_auth_url}
MONGODB_URI={mongo_uri_with_username_and_password}
MONGODB_DATABASE={default_database}
GITHUB_CLIENT_ID={github_client_id}
GITHUB_CLIENT_SECRET={github_secret}