@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		dark --default,
		dark --preferslight,
		forest;
}

/*@font-face {*/
/*    font-family: 'VicFont';*/
/*    src: url('../lib/assets/fonts/VIC-Regular.ttf') format('ttf');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'VicFont';*/
/*    src: url('../lib/assets/fonts/VIC-SemiBold.ttf') format('ttf');*/
/*    font-weight: 600;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'VicFont';*/
/*    src: url('../lib/assets/fonts/VIC-Bold.ttf') format('ttf');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

.noto-sans-thin {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.noto-sans-normal {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.noto-sans-semibold {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.noto-sans-bold {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.noto-sans-extrabold {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

body {
	font-family: 'Noto Sans', sans-serif;
}
